.imgBanner{
    height: 800px;
    min-height: 800px;
    position: relative;
    background-image: linear-gradient(rgb(102, 144, 180),rgba(102, 144, 180, 0.40)), url(http://res.cloudinary.com/kateamethyst/image/upload/v1471673834/0c56a9e_fwckx1.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: 0px;
    background-color: #c2e2de;
    align-items: center;
}

.navBarBanner{
    height: 100px;
    min-height:100px;
    position: relative;
    background-image: linear-gradient(rgb(102, 144, 180),rgba(102, 144, 180, 0.40)), url(http://res.cloudinary.com/kateamethyst/image/upload/v1471673834/0c56a9e_fwckx1.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: 0px;
    background-color: #c2e2de;
    align-items: center;
}

#bannerContents{
    color:#f1f1f1;
    margin-top: 150px;
}

.navbar {
    text-align:center;
}

.navbar > a{
    height: 50px;
    padding: 15px 15px;
    font-size: 30px;
    line-height: 20px;
    text-decoration: none;
    color:#f1f1f1;
}

.btn-shell{
    background-color:rgb(64, 91, 113);
    border-radius:0px;
    color:#FFF;
    transition:color .1s ease-out, background 1s ease-in
}
.btn-shell:hover{
    background-color:rgb(102, 144, 180);
    color:#FFF;
}


.btn-shell-icon{
    background-color:rgb(64, 91, 113);
    border-radius:0px;
    color:#FFF;
    transition:color .1s ease-out, background 1s ease-in
}

.btn-shell-icon > i{
    color:#FFF;
}

.btn-shell-icon:hover{
    background-color:rgb(102, 144, 180);
    color:#FFF;
}

.btn-shell-light{
    background-color:#a4bac7;
    border-radius:0px;
    color:#FFF;
    transition:color .1s ease-out, background 1s ease-in
}
.btn-shell-light:hover{
    background-color:rgb(102, 144, 180);
    color:#FFF;
} 

.btn:active, .btn:focus{
    outline-color:transparent;
    color:#FFF;
}

.btn-shell > i{
    color:#FFF;
    margin-right:10px;
}
.shell-flex{
    display:flex;
    justify-content: center;
}

.shell-flex-child{
    margin-right:40px;
}

.shell-flex-child > i{
    color:#FFF;
}
#secStepByStep{
    margin-top:50px;
    margin-bottom:50px;
}

#secAppFeature{
    margin-top:50px;
}

#secAppFeature .row > #secContents  {
    padding: 100px 0px;
}

#secBack{
    color: #f1f1f1;
    height: 400px;
    min-height: 400px;
    background-image: linear-gradient(rgb(102, 144, 180),rgba(102, 144, 180, 0.40)), url(http://res.cloudinary.com/kateamethyst/image/upload/v1471682101/medical_doctors_sk00lh.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: 0px;
    background-color: #c2e2de;
    text-align: center;
    position: relative;
}

.secVolunteer{
    padding: 100px 0px;
}

#secFeatures{
    margin-top:100px;
    text-align:center;
}

#secFeatures > .row > div > i{
    color:rgb(102, 144, 180);
}

#secFeatures > .row > div > h2:after{
    content: '';
    height: 3px;
    background: linear-gradient(to right, rgb(102, 144, 180),rgba(100, 77, 59, 1));
    margin: 20px auto;
    width: 100px;
    display: block;
}

footer{
    color:rgb(164, 186, 199);
    background-color: rgb(64, 91, 113);
    padding:20px 0px;
    text-align: center;
}

footer > p > a{
    text-decoration: none;
    color:rgb(164, 186, 199);
}

.footer-fixed{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#secAddVolunteer{
    color: #f1f1f1;
    height: 400px;
    min-height: 400px;
    background-image: linear-gradient(rgb(102, 144, 180),rgba(102, 144, 180, 0.40)), url(http://res.cloudinary.com/kateamethyst/image/upload/v1471687599/10_jcqkz9.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: 0px;
    background-color: #c2e2de;
    text-align: center;
    position: relative;
}

input, select, textarea, label{
    margin-top:10px;
}

form{
    margin-bottom:100px;
}

input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active .form-control:focus{
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(102, 144, 180) !important;
    border-color: #405b71 !important;
}

#secLast{
    margin-bottom:100px;
}

#secMessage{
    text-align:center;
}

#secLogin {
    color:#FFF;
    height: 900px;
    min-height:900px;
    position: relative;
    background-image: linear-gradient(rgb(102, 144, 180),rgba(102, 144, 180, 0.40)), url(http://res.cloudinary.com/kateamethyst/image/upload/v1471673834/0c56a9e_fwckx1.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: 0px;
    background-color: #c2e2de;
    align-items: center;
}

#secLogin > .container > .row > #loginForm {
    margin-top:200px;
}

.sideBar{
/*    position:fixed;
    left:0px;*/
    height:900px;
    min-height: 900px;
    color:#FFF;
    background-color:rgb(64, 91, 113);
    padding:0px;
}

.sideBar > ul > li > a{
    transition:color .5s ease-out, background .5s ease-in;
    color:#FFF;
    border-radius:0px;
}

.sideBar > ul > li{
    margin-top:0px;
}

.sideBar > ul > li > a > i{
    margin-right:10px;
}

.sideBar > ul > li > a:hover{
    background-color:#a4bac7;
    color:#FFF;
    border-radius:0px;
}

.sideBar > img {
    margin:0px auto;
    width:70%;
}

.sideBar > ul > li > .active{
    background-color:#a4bac7;
    color:#FFF;
    border-radius:0px;
}

.inbox{
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    list-style-type: none;
    background-color:#f7f7f7;
    list-style: none;
    padding: 0px
}

.inbox > li  {
    border-top:1px solid #d4d4d4 ;
    background-color:#f7f7f7;
} 

.inbox > li  > a{
    transition:color .5s ease-out, background .5s ease-in;
    text-decoration:none;
    padding:10px 0px;
} 

.inbox > li  > a >.content > h3{
    color:rgb(64, 91, 113);
} 

.inbox > li  > a >.content > p{
    color:#8c8c8c;
}

.inbox > li > a:hover{
    background-color:#ececec;
} 
.inbox > li > a > img{
    width:10%;
    height:10%;
    border-radius:50%;
    margin-right:20px;
} 
#messages{
    margin-top:100px;
}

.nav-pills > li > a > i{
    color: #fff;
}
.secConvo > div  {
    width:100%;
    height:30px;
    margin-top:10px;
}

.secConvo > .sender > p {    
    border-radius: 20px;
    color:#333;
    border: 1px solid #ececec;
    background-color:#ececec; 
    float:left;
    text-align: left;
    clear:both;
}

.secConvo > .recipient > p {
    border-radius: 20px;
    float:right;
    text-align: right;
    color:#FFF;
    border: 1px solid #4a91cc;
    background-color:#4a91cc;
    clear:both;

}

.secConvo > div  >  h6{
    color:#969696;
    padding:10px;
}

.secConvo > div  > p{
    padding:10px 20px;
    width:320px;
    margin-right:10px;
}


#txtMessage{
    border-top:1px solid #969696;
    border-bottom:1px solid #969696;
}

#txtMessage >  textarea{
    border-style:none;
    height:200px;
    resize: none;
}

#txtMessage >  textarea:focus{
    border-style:none;
    box-shadow: inset 0 1px 1px rgba(0,0,0, 0),0 0 8px rgb(255, 255, 255) !important;
}

.secSMNavs{
    display: flex;
    justify-content: center;
}

.secSMNavs > li > a , i {
    color:#333;
}

.secSMNavs > li > a > i{
    margin-right:10px;
}

.secSMNavs > li > a.active{
    color:#4a91cc;
    border-bottom: 3px solid #4a91cc;
    border-radius:0px;
}

.secSMNavs > li > a.active > i{
    color:#4a91cc;
}

.secEditProfile {
    visibility: hidden;
}

.secAddDoctor, .secDoctors{
    margin-top:100px;
}
